/* .projects{
    background: var(--second-bg-color);

 }
 .projects h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 4rem; 
    
 }
 
 section{
    background: var(--second-bg-color);
    min-height: 100vh;
    padding: 10rem 12% 10rem;
  }
 .projects span{
    margin-right: 2rem;
 }
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 3rem;
   margin-top: 3.5rem;
}
.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 25px var(--main-color);
    overflow: hidden;
    display: flex;
}
.project-img{
    width:250px;
    height: 250px;
    aspect-ratio: 1/1;
}
.project-box img{
    width: 100%;
    transition: 0.5s ease;
    aspect-ratio: 1/1;
}
.project-box:hover img{
   transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(240, 236, 29, 0.8), rgb(98, 209, 204));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;

}
.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}
.project-layer a{
    margin-bottom: 1rem;
}

.btn-btn{
    padding: 8px 10px;
        
    
    font-size: 17px;
    font-weight: 700;
    color:black;
    text-shadow: none;
    border-radius: 2rem;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: o o 25px black;
    
    transition: 0.5s ease-in-out;
    user-select: none;
}
.btn-btn:hover{
    transform: scale(0.91);
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
}

@media (max-width: 1285px){
    html{
        font-size: 55%;
    }
    .project-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
    .heading-project {
       
       margin-bottom: 10rem;
    }
}
@media (max-width:991px){
    
    section{
        padding: 10rem 3% 2rem;
    }
    .projects{
        padding-bottom: 0rem;
    }
}
@media (max-width:895px){
    .projects h2{
        margin-bottom: 6rem;
    }
    .project-container{
        grid-template-columns: repeat(1,1fr);
    }
} */














.section__title {
  margin-top: 30rem;
}

.projects_container {
  width: 80%;
  margin: 0 auto;
  background-color:transparent;
}

.project {
  width: 100%;
  /* height: 70vh; */
  margin: 6% 0% 6% 0%;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
  display: flex;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
}

.project:hover {
  transform: scale(1.04);
  overflow: hidden;
  box-shadow: 0px 0px 10px yellow; 
}
.project_videocontainer {
  flex-basis: 65%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.project_videocontainer > div {
  width: 90%;
  height: 90%;
  border-radius: 20px;
}
.project_videocontainer > div > img {
  width: 100%;
  height: 100%;
  border: 3px solid gray;
  border-radius: 20px;
}

.project_information {
  flex-basis: 35%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 3% 4% 3%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}
.project_information > h2 {
  margin-top: 1em;
  color: var(--clr-primary);
}
.project_information > p {
  margin-top: 1em;
  text-align: center;
}
.project_information > div:nth-child(3) {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
}

.project_information > div:nth-child(3) > svg {
  font-size: 3em;
  margin: 2% 3% 2% 3%;
  color: var(--clr-primary);
  transition: all 0.2s ease-in-out;
}

.project_information > div:nth-child(3) > svg:hover {
  font-size: 3.3em;
}

.project_information > div:nth-child(4) {
  margin-top: 0.6em;
  display: flex;
}
.onbt {
  margin: 0 1vw 0 1vw;
}
.btns {
  color: yellow;
  border: 2px solid var(--clr-primary);
  border-radius: 5px;
  height: auto;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}
.btns:hover {
  
  border: 2px solid white;
  background-color:gray;
}
.project_information > h3 {
  margin-top: 1.6em;
  color: var(--clr-primary);
}
.project_information::-webkit-scrollbar {
  display: none;
}

.allProjects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.project {
  border: 2px solid gray;
  flex-direction: column;
}

@media (max-width: 800px) {
  .project {
    flex-direction: column;
    /* height: 100vh; */
  }
  .project_videocontainer {
    flex-basis: 40%;
  }
  .project_information {
    flex-basis: 60%;
  }
  .allProjects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .projects_container {
    width: 100%;
    margin: 0 auto;
  }
}